@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rowdies:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: white;
    --fonth1: 'Rowdies', cursiva;
    --font2: Arial, Helvetica, sans-serif;
}

html,body{
    min-height: 100vh;
    background-color: white;
}

header{
    background-color: black;
    text-align: center;
    color: var(--cor0);
    min-width: 230px;
}


header > h1{
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--fonth1);
  font-size: 3em;
  
}

aside > p{
    padding-bottom: 50px;
}

a{
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: rgb(112, 112, 182);
    text-decoration: underline;
}

main{
    max-width: 800px;
    min-width: 230px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.439);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
    
section.normal{
   background-color: antiquewhite;;
   color: black;
}


section.imagem{
    color: var(--cor0);
    background-image: url(imagens/background001.jpg);
}

section.imagem > p{
    background-color: rgba(29, 28, 28, 0.342);
    width: 300px;
}

section.normal1{
    background-color: antiquewhite;;
    color: black;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

footer{
    background-color: black;
    color: var(--cor0);
    text-align: center;
    padding: 5px;
}
